/*------------------------- PELICULAS ----------------------- */
.h1_pel{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 15px;

}
.pel-poster{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 10px;
	
}
.pel-poster-ind:hover {
	filter: opacity(.5);	
}
.section-iframe{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container h2{
	font-size: 4rem;
	margin-top: 2rem;
}
.container p{
	font-size: 20px;
}