/*------------------------- SERIES ----------------------- */
#series{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;

}
.one_serie{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 350px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.serie_img{
	width: 100%;
    max-height: 320px;
    border-radius: 10px;
    overflow: hidden;
}
.serie_img img{
	width: 100%;
}
.serie-info{
	text-align: center;
}
.serie-info button{
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	background-color: #cc2c2c;
	color: #fff;
	font-size: 1.000em;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
.serie-info button a{
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.serie-title{
	padding: 5px;
	font-size: 20px;
}
.serie-overview{
	padding: 5px;
}