/*------------------------- GOOGLE FONTS ----------------------- */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*------------------------- ESTILOS GENERALES ----------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------- HEADER ----------------------- */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,76%), transparent);
    padding: 45px;
    font-family: 'Montserrat', sans-serif;
}

.logo{
	display: flex;
}
ul#menu {
	list-style: none;
	display: flex;
}

.menu-item a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 25px;
}

li.menu-item :hover{
	background: #cc2c2c79;
	border-radius: 15px;
}
nav{
	display: flex;
	align-items: center;
}
/*------------------------- BANNER ----------------------- */
.banner {
    width: 100%;
    height: 70vh;
    background: url('https://lumiere-a.akamaihd.net/v1/images/au_marvel_spiderman60th_hero_r_823e6bbf.jpeg?region=0,0,2400,1002') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
.h1-head{
	color: #ffffff;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
}
.container{
	width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.4rem;
}
.btn_banner{
	border: 2px solid currentColor;
	border-radius: 3rem;
	color: rgb(255, 255, 255);
	background-color: #bd2e2eaa;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 100;
	overflow: hidden;
	padding: 1rem 2rem;
	position: relative;
	text-decoration: none;
	transition: .2s transform ease-in-out;
	will-change: transform;
	z-index: 0;
}
.btn_banner::after{
    background-color: #15629dc3;
	color: #fff;
    border-radius: 65px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
    
.btn_banner:hover::after{
    transform: translate(0, 0);
}
    
.btn_banner:hover{
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    will-change: transform;
}
/*------------------------- FOOTER ----------------------- */
footer{
	background-color: #15629d;
}
.footer{
	display: flex;
	justify-content: space-between;
}
.footer-info{
	width: 25%;
	padding: 20px 0 20px 20px;
}
.footer-info h2{
	font-family: 'Montserrat', sans-serif;
	color: #cc2c2c;
	font-size: 2rem;
}
.footer-info span{
	font-size: 1.1rem;
	color: #fff;
	font-weight: 100;
}
.copyright{
	display: flex;
	align-items: flex-end;
	padding: 2px;
	font-weight: bold;

}
.footer-contact{
	padding: 20px;
}
.footer-contact h2{
	font-family: 'Montserrat', sans-serif;
	color: #cc2c2c;
	font-size: 2rem;
   }
.links{
	display: flex;
}
.link-item{
	padding: 15px;
}
.link-item:hover{
	color: #bd2e2e;
}
/*------------------------- RESPONSIVE HEADER-FOOTER ----------------------- */
/*
@media screen and (max-width: 480px)
{
	body{
		width: 400px;
	}
	.banner
	{
		max-width: 412px;
		height: 280px;
	}
	.h1-head
	{
		font-size: 140px;
	}
	.historia-info
	{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.img-nice
	{
		width: 540px;
	}
	h2
	{
		font-size: 50px;
	}
	.h1-his
	{
		font-size: 100px;
	}
	p
	{
		font-size: 35px;
	}
	.btn_banner
	{
		font-size: 60px;
	}
	.contacto-info
	{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	footer{
		height: 100px;
	}
	.p-footer{
		font-size: 50px;
	}
} */